django
djangorestframework
django-cors-headers
python-dotenv
google-generativeai
gunicorn
whitenoise
requests
psycopg2-binary
dj-database-url
firebase-admin
google-auth
google-api-python-client
google-cloud-firestore
